<h1>
  {{model.title}}
  <span style="font-size: 16px" class="pull-right">
    <a href="" ng-if="editMode" title="{{ 'Add new widget' | translate }}" ng-click="addWidgetDialog()">
      <i class="glyphicon glyphicon-plus-sign"></i>
    </a>
    <a href="" ng-if="editMode" title="{{ 'Edit dashboard' | translate }}" ng-click="editDashboardDialog()">
      <i class="glyphicon glyphicon-cog"></i>
    </a>
    <a href="" ng-if="options.editable" title="{{editMode ? 'Save changes' : 'Enable edit mode' | translate }}" ng-click="toggleEditMode()">
      <i class="glyphicon" x-ng-class="{'glyphicon-edit' : !editMode, 'glyphicon-save' : editMode}"></i>
    </a>
    <a href="" ng-if="editMode" title="{{ 'Undo changes' | translate }}" ng-click="cancelEditMode()">
      <i class="glyphicon glyphicon-repeat adf-flip"></i>
    </a>
  </span>
</h1>
